/* GLOBAL STYLESHEETS */
/* IMPORT OF SECTIONS */
/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crushed&family=Lobster+Two&display=swap");
/* IMPORT OF SECTIONS */
/* COMPONENTS */
/* HOME */
a:-webkit-any-link {
  color: white;
}

.left, .center, .right {
  display: inline-block;
}

.left {
  animation: f 2.5s linear;
}

@keyframes f {
  0% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(85px);
  }
  75% {
    transform: translateX(0px) scale(1.2);
  }
  100% {
    transform: translateX(0px);
  }
}
.right {
  animation: mm 2.5s linear;
}

@keyframes mm {
  0% {
    transform: translateX(500px);
  }
  50% {
    transform: translateX(-85px);
  }
  75% {
    transform: translateX(0px) scale(1.2);
  }
  100% {
    transform: translateX(0px);
  }
}
.center {
  animation: c 2.5s ease-out;
}

@keyframes c {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* BASE */
/* "Back Home" BUTTON TRANSITION */
.about-top-button:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: 1000;
  transition: 0.7s;
}

/* "Back Home" BUTTON TRANSITION */
.services-top:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: 1000;
  transition: 0.7s;
}

/* FOOTER */
/* FOOTER NAVBAR TRANSITION */
.footer__ul li a:hover {
  background-color: whitesmoke;
  border: 2px solid white;
  color: black;
  font-weight: 1000;
  transition: 0.7s;
}

/* LOGOS ICON TRANSITION */
.footer__logos a img {
  width: 20px;
  height: 20px;
  transition: all 1s;
}

.footer__logos a img:hover {
  width: 30px;
  height: 30px;
}

/* SWITCHER */
.footer {
  height: 30vh;
  padding-top: 2.5%;
}
.footer .footer__info, .footer .footer__contact {
  width: 25%;
  margin-left: 2%;
}
.footer .footer__info p, .footer .footer__contact p {
  line-height: 25px;
}
.footer .footer__nav {
  margin-left: 4%;
}
.footer .footer__nav .footer__ul li {
  margin-top: 4.5%;
}
.footer .footer__nav .footer__ul a {
  font-size: 0.8em;
  margin-left: -35%;
}
.footer .footer__media {
  width: 32%;
  margin-right: 1em;
}
.footer .footer__media h6 {
  width: 100%;
  text-align: right;
}
.footer .footer__media .footer__logos {
  margin-top: 0%;
  height: 40px;
  width: 100%;
  text-align: right;
}
.footer .footer__media .footer__logos img {
  margin-top: 0.5%;
}
.footer .footer__media .footer__logos a {
  margin: 0 1.5% 0 1.5%;
}
.footer .footer__media .footer__newsletter p {
  margin-top: 0%;
  margin-bottom: 0%;
}
.footer .footer__media .footer__newsletter input {
  width: 78%;
  height: 2em;
}
.footer .footer__media .footer__newsletter button {
  margin-left: 3%;
}

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: "Quicksand", sans-serif;
}

/* LANDING PAGE CONTAINERS */
.home__container, .availability__container, .about__container, .cottages__container, .services__container, .location__container, .book__container {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.row {
  --bs-gutter-x: 0;
}

.container-fluid {
  padding-right: var(--bs-gutter-x, 0);
  padding-left: var(--bs-gutter-x, 0);
  margin-right: 0;
  margin-left: 0;
}

/* IMPORT OF SECTIONS */
/* HEADER "HOME": BARRA DE NAVEGACION + IMAGEN DE FONDO (1er VIEWPORT) */
header :before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.002);
  z-index: -1;
}
header .home__picture {
  position: absolute;
  background-image: url(..//..//multimedia/imagenes/home/home__picture.jpg);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: 0% 50%;
  z-index: -1;
}
header .navbar, header .home__navbar-left, header .home__navbar-right {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 2.1%;
}
header .navbar .home__navbar-left, header .navbar .home__navbar-right, header .home__navbar-left .home__navbar-left, header .home__navbar-left .home__navbar-right, header .home__navbar-right .home__navbar-left, header .home__navbar-right .home__navbar-right {
  width: 30%;
  font-size: 0.9em;
}
header .navbar .home__navbar-center, header .home__navbar-left .home__navbar-center, header .home__navbar-right .home__navbar-center {
  font-size: 1.5em;
  text-align: center;
}
header .navbar .home__navbar-center span p, header .home__navbar-left .home__navbar-center span p, header .home__navbar-right .home__navbar-center span p {
  font-size: 0.4em;
  padding-top: 3%;
}
header .navbar a, header .home__navbar-left a, header .home__navbar-right a {
  text-decoration: none;
  text-transform: uppercase;
}
header h1 {
  color: white;
  text-align: center;
  padding-top: 10%;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 3;
}
header .form__quick {
  display: flex;
  justify-content: center;
  padding-top: 30%;
}
header .customField {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}
header .customField input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border-radius: 3px;
  width: 200px;
  outline: none;
  font-size: 14px;
  background-color: whitesmoke;
}
header .customField .placeholder {
  position: absolute;
  z-index: 2;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}
header .customField input:valid + .placeholder,
header .customField input:focus + .placeholder {
  top: 0px;
  font-size: 10px;
  color: white;
}
header button {
  background-color: black;
  border: none;
  border-radius: 3px;
  width: 200px;
  outline: none;
  margin-left: 0.3%;
  border: 1px solid white;
}
header button a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
}

h2 {
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 3;
}

.form__reserva {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}
.form__reserva h4 {
  font-size: 1.1em;
}
.form__reserva .form__form--left-inputs {
  width: 50%;
  margin-left: 10%;
}
.form__reserva .form__form--right-inputs {
  width: 50%;
  margin-left: 5%;
}
.form__reserva .form__form--right-inputs .placeholder {
  color: black;
  display: flex;
  background-color: blue;
}
.form__reserva .form__form--right-inputs .payForm {
  display: flex;
  width: 430px;
  margin-top: 45px;
  border: solid 1px #ececec;
  display: flex;
  border-radius: 2px;
  overflow: hidden;
  font-size: 14px;
}
.form__reserva .form__form--right-inputs .pay {
  display: flex;
  width: 430px;
}
.form__reserva .form__row {
  display: flex;
}
.form__reserva .form__row .col {
  position: relative;
  font-size: 14px;
  padding-top: 30px;
  margin-bottom: 5px;
}
.form__reserva .form__row .col .space {
  margin-left: 15px;
}
.form__reserva .form__row .col .width {
  width: 430px;
}
.form__reserva .form__row .col input, .form__reserva .form__row .col textarea {
  border: 1px solid #ececec;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border-radius: 3px;
  width: 300px;
  outline: none;
  font-size: 14px;
  background-color: whitesmoke;
}
.form__reserva .form__row .col textarea {
  width: 615px;
  height: 150px;
}
.form__reserva .form__row .down {
  padding-top: 8px;
}

.payForm {
  /* Seleccionado cambia de color */
  /* Linea de separacion */
}
.payForm input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
.payForm label {
  color: grey;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  width: 300px;
  text-align: center;
}
.payForm input[type=radio]:checked + label {
  color: black;
  background: #d8d8d8;
}
.payForm label + input[type=radio] + label {
  border-left: solid 1px #ececec;
}

.form__credit {
  display: flex;
  justify-content: space-evenly;
  width: 430px;
  padding-top: 10px;
}

.btn__resetFormReserva, .btn__book {
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 3px;
  width: 213px;
  outline: none;
  border: 1px solid white;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: whitesmoke;
  margin-top: 11%;
  font-size: 14px;
}

/* (STARTS) FOOTER */
footer {
  background-image: linear-gradient(to top, #525252, black);
  scroll-snap-align: start;
  font-family: "Quicksand";
  color: white;
  display: flex;
}
footer .footer__info, footer .footer__contact {
  text-align: justify;
}
footer .footer__info h6, footer .footer__contact h6 {
  font-size: 0.9em;
  text-transform: uppercase;
}
footer .footer__info p, footer .footer__contact p {
  font-size: 0.8em;
}
footer .footer__nav h6 {
  font-size: 0.9em;
  text-transform: uppercase;
}
footer .footer__nav .footer__ul {
  list-style: none;
}
footer .footer__nav .footer__ul a {
  text-decoration: none;
  font-size: 0.8em;
}
footer .footer__media h6 {
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: right;
}
footer .footer__media .footer__newsletter p {
  font-size: 0.8em;
  text-align: justify;
}
footer .footer__media .footer__newsletter input {
  height: 2em;
}
footer .footer__media .footer__newsletter input .placeholder {
  text-align: center;
}
footer .footer__media .footer__newsletter ::-webkit-input-placeholder {
  text-align: center;
}
footer .footer__media .footer__newsletter button {
  background-color: black;
}

/*# sourceMappingURL=styles.css.map */
