// Formulario.
h2{
    text-align: center;
    padding-top: 5%;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 3;
}
.form__reserva {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    h4 {
        font-size: 1.1em;
    }
        .form__form--left-inputs {
            width: 50%;
            margin-left: 10%;
        }
        .form__form--right-inputs {
            width: 50%;
            margin-left: 5%;
            .placeholder {
                color: black;
                display: flex;
                background-color: blue;
            }
            .payForm {
                display: flex;
                width: 430px;
                margin-top: 2.77%;
                    .payment {
                        background-color: yellow;
                        position: relative;
                        width: 430px;
                        cursor: pointer;
                    }
            }
            .pay, .payment {
                display: flex;
                width: 430px;
            }
        }
        .form__row {
            display: flex;
                .col {
                    position: relative;
                    font-size: 14px;
                    padding-top: 30px;
                    margin-bottom: 5px;
                        .space {
                            margin-left: 15px;
                        }
                        .width {
                            width: 430px;
                        }
                        input, textarea {
                            border: 1px solid rgb(236, 236, 236);
                            -webkit-appearance: none;
                            -ms-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            padding: 10px;
                            border-radius: 3px;
                            width: 300px;
                            outline: none;
                            font-size: 14px;
                            background-color: whitesmoke;
                        }
                        textarea {
                            width: 615px;
                            height: 150px;
                        }
                    }
                    .down {
                        padding-top: 15px;
                    }
        }
}


    // Botón.
    .btn__resetFormReserva, .btn__book {
        padding: 10px;
        background-color: black;
        border: none;
        border-radius: 3px;
        width: 213px;
        outline: none;
        border: 1px solid white;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none;
        color: whitesmoke;
        margin-top: 11%;
        font-size: 14px;
    }


