// Formulario.
h2{
    text-align: center;
    padding-top: 5%;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 3;
}
.form__reserva {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    h4 {
        font-size: 1.1em;
    }
        .form__form--left-inputs {
            width: 50%;
            margin-left: 10%;
        }
        .form__form--right-inputs {
            width: 50%;
            margin-left: 5%;
            .placeholder {
                color: black;
                display: flex;
                background-color: blue;
            }
            .payForm {
                display: flex;
                width: 430px;
                margin-top: 45px;
                border: solid 1px rgb(236, 236, 236);
                display: flex;
                border-radius: 2px;
                overflow: hidden;
                font-size: 14px;
            }
            .pay {
                display: flex;
                width: 430px;
            }
        }
        .form__row {
            display: flex;
                .col {
                    position: relative;
                    font-size: 14px;
                    padding-top: 30px;
                    margin-bottom: 5px;
                        .space {
                            margin-left: 15px;
                        }
                        .width {
                            width: 430px;
                        }
                        input, textarea {
                            border: 1px solid rgb(236, 236, 236);
                            -webkit-appearance: none;
                            -ms-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            padding: 10px;
                            border-radius: 3px;
                            width: 300px;
                            outline: none;
                            font-size: 14px;
                            background-color: whitesmoke;
                        }
                        textarea {
                            width: 615px;
                            height: 150px;
                        }
                    }
                    .down {
                        padding-top: 8px;
                    }
        }
}

// Selector de forma de pago.
// Switcher.
.payForm {
    input[type=radio] {
        position: absolute;
        visibility: hidden;
        display: none;
    }
    label {
        color: grey;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
        padding: 10px;
        width: 300px;
        text-align: center;
    }
    /* Seleccionado cambia de color */
    input[type=radio]:checked + label {
        color: black;
        background: rgb(216, 216, 216);
    }
    /* Linea de separacion */
    label + input[type=radio] + label {
    border-left: solid 1px rgb(236, 236, 236);
    }
}

.form__credit {
    display: flex;
    justify-content: space-evenly;
    width: 430px;
    padding-top: 10px;
}

// Botón.
.btn__resetFormReserva, .btn__book {
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 3px;
    width: 213px;
    outline: none;
    border: 1px solid white;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    margin-top: 11%;
    font-size: 14px;
}